version: "3.44"

tasks:
    ensure-arg:
        silent: true
        vars:
            PNAME: "{{index .CLI_ARGS_LIST 0}}"
            PVAL: "{{index .CLI_ARGS_LIST 1}}"
        cmd: '{{if eq (len .PVAL) 0}}echo ''Required arg "{{.PNAME}}" is not set'';exit 1{{else}}echo {{.PVAL}}{{end}}'

    ensure-local-keystore:
        silent: true
        internal: true
        cmd: mkdir -p .keystore

    ensure-cov-tools:
        internal: true
        silent: true
        preconditions:
            - sh: command -v lcov >/dev/null 2>&1
              msg: lcov is not installed
            - sh: command -v genhtml >/dev/null 2>&1
              msg: genhtml is not installed
        cmd: mkdir -p coverage

    install:deps:ts:
        internal: true
        sources:
            - package.json
        generates:
            - [[.Computed.jpm_lock]]
        cmd: [[.Computed.jpm_install]] {{.PACKAGE_NAMES}}

    install:deps:sol:
        internal: true
        sources:
            - .gitmodules
        generates:
            - foundry.lock
        cmd: forge install --shallow {{.PACKAGE_NAMES}}

    run:ts:
        internal: true
        requires:
            vars:
                - TS_FILE
        preconditions:
          - sh: test -f "{{.TS_FILE}}"
            msg: "TypeScript file not found."
        cmd: [[.Computed.jpm_run]] {{.TS_FILE}}

    jpmx:
        internal: true
        requires:
          vars:
            - X_ARGS
        cmd: [[.Computed.jpm_x]] {{.X_ARGS}}

    build:sol:
        internal: true
        sources:
            - src/contracts/**/*.sol
            - test/foundry/**/*.sol
        generates:
            - cache/**/*
            - artifacts/**/*
        deps:
            - install:deps:ts
            - install:deps:sol
        cmds:
            - forge compile {{.FORGE_ARGS}}
            - task: jpmx
              vars:
                X_ARGS: "hardhat compile"

    get-foundry-artifact:
        internal: true
        silent: true
        requires:
            vars:
                - SC_NAME
                - JQ_PATH
        vars:
            FILEPATH: "artifacts/foundry/{{.SC_NAME}}.sol/{{.SC_NAME}}.json"
        preconditions:
            - sh: test -f "{{.FILEPATH}}"
              msg: "Solidity file \"{{.FILEPATH}}\" not found. Run 'task build' first."
        cmd: cat "{{.FILEPATH}}" | [[.Computed.jpm_x]] node-jq -r "{{.JQ_PATH}}"

